[submodule "silabs-bluetooth"]
	path = silabs-bluetooth
	url = https://github.com/antonio-tr/silabs-bluetooth
[submodule "silabs-baremetal"]
	path = silabs-baremetal
	url = https://github.com/antonio-tr/silabs-baremetal
[submodule "silabs-zigbee"]
	path = silabs-zigbee
	url = https://github.com/antonio-tr/silabs-zigbee
